<extend name="Template/base" />
<block name="main">
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>案例分类 <small>添加分类</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <form id="cate_edit" data-parsley-validate class="form-horizontal form-label-left">

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">分类名称 <span class="required">*</span>
            </label>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <input type="hidden" name="id" value="{$t['id']}">
              <input type="text" name="name" value="{$t['name']}" required="required" class="form-control col-md-7 col-xs-12">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">父级分类 <span class="required">*</span></label>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <select class="select2_single form-control" name="parentId" tabindex="-1">
                <foreach name='ops' item='op'>
                  <option value="{$op.id}" {:($op['id']==$parentId)?'selected':''} >{$op.name}</option>
                </foreach>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">分类描述 <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" name="detail" value="{$t.detail}" required="required" class="form-control col-md-7 col-xs-12">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">排序号 <span class="required">*</span>
            </label>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <input type="number" name="corder" value='{$t.corder}' required="required" class="form-control col-md-7 col-xs-12">
            </div>
          </div>

          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
              <button type="submit" class="btn btn-success"> 提 交 </button>
              <button class="btn btn-primary" type="reset"> 重 置 </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</block>
<block name="link-end">
  <script type="text/javascript">
    $(function(){
      var app_edit = {
        data: {
          postUrl : '{:U("kind/edit")}',
          jumpUrl : '{:U("kind/kcategory")}',
        },
        init: function(){
          this.eventInit();
        },
        eventInit: function(){
          var app_edit = this;
          /*提交*/
          $('button[type=submit]').on('click', function(event) {
            event.preventDefault();
            /* Act on the event */
            ll.ajax({
              url: app_edit.data.postUrl,
              data: ll.getFormData('#cate_edit'),
              isFormData: true,
              success: function(data){
                var op = {
                  text : '更新成功',
                  color:'success',
                  reload: app_edit.data.jumpUrl,
                };
                ll.alert(op);
              },
              error: function(data){
                ll.tips(data.msg);
              },
            });

          });
        },

      };
      app_edit.init();
    });
  </script>
</block>