<extend name="Template/base" />
<block name="main">
<div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>案例列表 <small>全部案例</small></h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" id="searchWord" value="{$Think.get.word}" class="form-control" placeholder="输入关键词">
            <span class="input-group-btn">
              <button class="btn btn-default" id="search-btn" type="button">搜索</button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>全部案例 <small>当前共有 32 个案例</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="table-responsive">
              <table class="table table-striped table-bordered  table-condensed table-hover "  style="">
                <thead>
                  <tr class="headings">
                    <th>
                      <input type="checkbox" id="check-all" class="flat">
                    </th>
                    <th class="column-title">排序 </th>
                    <th class="column-title">Id </th>
                    <th class="column-title">分类 </th>
                    <th class="column-title">标题 </th>
                    <th class="column-title">描述 </th>
                    <th class="column-title">图片 </th>
                    <th class="column-title">案例链接 </th>
                    <th class="column-title">发布时间 </th>
                    <th class="column-title">状态 </th>
                    <th class="column-title no-link last"><span class="nobr">操作</span>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <empty name="lists">
                    <tr>
                      <td class="text-center" colspan="11" rowspan="" headers="">
                          <p></p>
                          没有找到相关记录
                          <p></p>
                      </td>
                    </tr>
                  </empty>

                  <foreach name="lists" item="li">

                  <tr data-id="{$li.id}">
                    <td class="a-center ">
                      <input type="checkbox" class="flat" name="table_records">
                    </td>
                    <td class=" "><input type="number" name="" value="{$li.corder}" placeholder=""></td>
                    <td class=" ">{$li.id}</td>
                    <td class=" ">{:transKindsName($li['kind'])}</td>
                    <td class="td-mw" >{$li.title}</td>
                    <td class="td-mw" >{$li.detail}</td>
                    <td class=" "><img src="{:getImgPath($li['img'])}" alt="{$li.img}"></td>
                    <td class="td-mw">{$li.link}</td>
                    <td class="td-mw">{:date('Y-m-d <b\\r> H:i:s',$li['ctime'])}</td>
                    <td class=" ">
                      <switch name='li["status"]'>
                        <case value='1'><a href="#" class="text-success changeStatus">正常</a></case>
                        <case value='0'><a href="#" class="text-warning changeStatus">已禁用</a></case>
                      </switch>
                    </td>
                    <td class=" last">
                        <a href="#" class="td-edit" title="编辑"><i class="fa fa-edit"></i> </a> |
                        <a href="{$li.link}" title="预览"><i class="fa fa-eye"></i> </a> |
                        <a href="#" class="td-remove" title="删除"><i class="fa fa-remove"></i> </a>
                    </td>
                  </tr>
                  </foreach>
                </tbody>
              </table>
            </div>
            <p>{$page}</p>
            <div class="ln_solid"></div>
            <p>
                <button type='button' id="update-order" class="btn btn-sm btn-info">更新排序</button>
                <button type='button' id="delete-all" class="btn btn-sm btn-info">批量删除</button>
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
</block>


<block name="link-end">
  <script>
    $(function(){
      var app_list = {
        data: {
          changeStatusUrl : '{:U("cases/changeStatus")}',
          removeCaseUrl : '{:U("cases/removeCase")}',
          editCaseUrl : '{:U("cases/editCase",["id"=>"__ID__"])}',
          updateOrderUrl : '{:U("cases/updateOrder")}',
          deleteAllUrl : '{:U("cases/deleteAll")}',
          searchWordUrl : '{:U("cases/clists",["word"=>"__WORD__"])}',
        },
        init: function(){
          this.eventInit();
        },
        eventInit: function(){
          var app_list = this;
          //监控 table ->正常 状态改变
          $('.changeStatus').click(function(event) {
              var element = this;
              var options = {
                  title: '更改状态',
                  text: '确定要更改状态?',
                  confirm: function () {
                      app_list.changeStatus(element);
                  }
              };
              ll.tips(options);
          });

          //监控 table ->td 删除
          $('.td-remove').click(function(event) {
              var element = this;
              var options = {
                  title: '删除确认',
                  text: '删除该分类,及其所有子分类?',
                  confirm: function () {
                      app_list.removeCase(element);
                  }
              };
              ll.tips(options);
          });

          //监控 table ->td 编辑
          $('.td-edit').click(function(event) {
              var id = $(this).parents('tr').data('id');
              var url = app_list.data.editCaseUrl;
              url = url.replace(/__ID__/g,id);
              window.location.href = url;
          });

          $("#update-order").on('click', function(event) {
            event.preventDefault();
            /* Act on the event */
            app_list.updateOrder();
          });

          $("#delete-all").on('click', function(event) {
            event.preventDefault();
            /* Act on the event */
            app_list.deleteAll();
          });

          $("#search-btn").on('click', function(event) {
            event.preventDefault();
            /* Act on the event */
            app_list.searchWord();
          });
        },
        changeStatus:function(elm){
          var id = $(elm).parents('tr').data('id');
          var ops = {};
          ll.ajax({
            url: app_list.data.changeStatusUrl,
            data: {id: id},
            async: false,
            success: function () {
              ops.text = '更改成功';
              ops.color = 'success';
              ops.reload = true;
            },
            error: function(){
              ops.text = '更改失败';
            },
          });
          ll.alert(ops);
        },
        removeCase:function(elm){
          var id = $(elm).parents('tr').data('id');
          var ops = {};
          ll.ajax({
            url: app_list.data.removeCaseUrl,
            data: {id: id},
            async: false,
            success: function () {
              ops.text = '删除成功';
              ops.color = 'success';
              //ops.reload = true;
            },
            error: function(res){
              ops.text = res.msg;
            },
          });
          ll.alert(ops);
        },
        getSelectedData: function(){
          var trs = $('tbody tr[class*=selected]');
          var ids = [],ods=[];
          $.each(trs, function(index, val) {
             /* iterate through array or object */
             var id = $(val).data('id');
             ids.push(id);
             var od = $(val).find('input[type=number]').val();
             ods.push(od);
          });
          var data = {ids:ids,ods:ods};
          return data;
        },
        updateOrder: function(){
          var data = app_list.getSelectedData();
          var op = {};
          ll.ajax({
            url: app_list.data.updateOrderUrl,
            data: data,
            async: false,
            success: function(){
              op.text = '更新排序成功';
              op.color = 'success';
              op.reload = true;
            },
            error: function(res){
              op.text = res.msg;
            }
          });
          ll.alert(op);
        },
        deleteAll: function(){
          var data = app_list.getSelectedData();
          var op = {};
          ll.ajax({
            url: app_list.data.deleteAllUrl,
            data: data,
            async: false,
            success: function(){
              op.text = '批量删除成功';
              op.color = 'success';
              op.reload = true;
            },
            error: function(res){
              op.text = res.msg;
            }
          });
          ll.alert(op);
        },
        searchWord: function(){
          var word = $("#searchWord").val();
          var url = app_list.data.searchWordUrl;
              url = url.replace(/__WORD__/g,word);
              window.location.href = url;
        },

      };
      app_list.init();
    });
  </script>
</block>
